{% extends "base.html" %}
{% load static %}
{% block body %}
        <div class="container">
            <div class="row" style="margin-top: 1rem;">
                <div class="col-12 col-md-7 col-xl-5">
                    <img src={{ post.img.url }} style="height: 19rem; max-height: 20rem; max-width: 30rem; object-fit: content;">
                </div>
                <div class="col-12 col-md-7 col-xl-6">
                    <h2>{{ post.titulo_post }}</h2>
                    <p style="font-size:19px;">{{ post.descricao_post }}</p>
                    <h2 style="margin-top:10rem;">LINK PRO ZAP</h2>
                </div>
            </div>
        </div>
    </body>
</html>

{% endblock %}