{% extends "base.html" %}
{% load static %}
{% block body %}

<div class="container">
  <h1 style="margin-left: 38%; position: static; margin-right: 30%;">Rifa Para Gatitos</h1>
  <h4>Clique duas vezes para selecionar o número:</h4>
    <div id="numeros-layout" class="row justify-content-center">
      <div class="col-2 ">
        <button class="number-button btn btn-primary" onclick="selectNumber(1)" data-number="1">1</button>
      </div>
      <div class="col-2">
        <button class="number-button btn btn-primary" onclick="selectNumber(2)" data-number="2">2</button>
      </div>
      <div class="col-2">
        <button class="number-button btn btn-primary" onclick="selectNumber(3)" data-number="3">3</button>
      </div>
      <div class="col-2">
        <button class="number-button btn btn-primary" onclick="selectNumber(4)" data-number="4">4</button>
      </div>
      <div class="col-2">
        <button class="number-button btn btn-primary" onclick="selectNumber(5)" data-number="5">5</button>
      </div>
    </div>

    <div id="numeros-layout" class="row justify-content-center">
      <div class="col-2">
        <button class="number-button btn btn-primary" onclick="selectNumber(6)" data-number="6">6</button>
      </div>
      <div class="col-2">
        <button class="number-button btn btn-primary" onclick="selectNumber(7)" data-number="7">7</button>
      </div>
      <div class="col-2">
        <button class="number-button btn btn-primary" onclick="selectNumber(8)" data-number="8">8</button>
      </div>
      <div class="col-2">
        <button class="number-button btn btn-primary" onclick="selectNumber(9)" data-number="9">9</button>
      </div>
      <div class="col-2">
        <button class="number-button btn btn-primary" onclick="selectNumber(10)" data-number="10">10</button>
      </div>
    </div>

    <div id="numeros-layout" class="row justify-content-center">
      <div class="col-2">
        <button class="number-button btn btn-primary" onclick="selectNumber(11)" data-number="11">11</button>
      </div>
      <div class="col-2">
        <button class="number-button btn btn-primary" onclick="selectNumber(12)" data-number="12">12</button>
      </div>
      <div class="col-2">
        <button class="number-button btn btn-primary" onclick="selectNumber(13)" data-number="13">13</button>
      </div>
      <div class="col-2">
        <button class="number-button btn btn-primary" onclick="selectNumber(14)" data-number="14">14</button>
      </div>
      <div class="col-2">
        <button class="number-button btn btn-primary" onclick="selectNumber(15)" data-number="15">15</button>
      </div>
    </div>
    <div id="selected-number" class="selected-number"></div>

    <button id="clear-button" class="btn btn-danger" onclick="clearSelections()">Limpar Seleções</button>

</div> <!--Container-->

</body>

</html>

{% endblock %}