{% extends "base.html" %}
{% load static %}
{% block body %}
    <div class="container">  
        <div class="row">
            {% for post in posts %}
            <div class="col-12 col-md-4 col-xl-4">


                <div class="card" id="cardH1" style= "margin-top: 1rem;" style="object-fit: content;">
                    <img src={{ post.img.url }} style="max-height: 17rem; max-width: 27rem; object-fit: content;">
                    <div class="card-body">
                        
                        <li>
                            <h2>{{ post.titulo_post }}</h2>
                            <p>{{ post.descricao_post }}</p>
                            <a href="{% url 'accounts:detalhes' post.id %}" class="btn btn-primary">Detalhes</a>
                        </li>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">{{ post.data_post }}</small>
                    </div>
                </div>



            </div>
            {% endfor %}
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js" integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa" crossorigin="anonymous"></script>
</body>

</html>

{% endblock %}