{% extends "base.html" %}
{% load static %}
{% block body %}

<div class="row" id="linha_index">
    <div style="margin-top: 10rem; margin-bottom:10rem;">
        <div style="border-radius: 80px; background: rgba(0, 0, 0, 0.5);">
            <h2 style="text-align: center; font-size: 40px; color:white;">Quem Somos? </h2>
            <p style="text-align: center; font-size: 25px; color:white;">Somos uma organização sem fins lucrativos dedicada a localizar gatos de rua abandonados e encontrar um lar para eles.</p>
        </div>
    </div>
</div>

<div class="row" id="linha_index2">>
    <div style="margin-top: 10rem; margin-bottom:10rem;">
        <div style="border-radius: 80px; background: rgba(0, 0, 0, 0.5);">
            <h2 style="text-align: center; font-size: 40px; color:white;">O Descaso de Gatos Abandonados</h2>
            <p style="text-align: center; font-size: 25px; color:white;">Centenas de gatos são abandonados nas ruas em condições de extrema precariedade, o que acaba afetando principalmente a saúde e o bem-estar dos animais. Além disso, isso os deixa sujeitos a maus-tratos, atropelamentos e doenças, diminuindo sua expectativa de vida. Infelizmente, muitos acabam falecendo. Aqueles que conseguem sobreviver com dificuldades acabam se tornando mais selvagens e territoriais, o que pode levá-los a atacar pessoas e tornando o problema ainda mais grave.</p>
        </div>
    </div>
</div>

<div class="row" id="linha_index3">
    <div style="margin-top: 10rem; margin-bottom:10rem;">
        <div style="border-radius: 80px; background: rgba(0, 0, 0, 0.5);">
            <h2 style="text-align: center; font-size: 40px; color:white;">Integrantes do Projeto</h2>
            <p style="text-align: center; font-size: 25px; color:white;">Allesson Vale (Alle)<br>Heverton Rubens(Rubinho)<br>João Santos (Jv)<br>Josué Reis
                (Potter)<br>Marcelo Tavares (Marselo)<br>Nielson Aldenor (Nill)<br>Ulisses Pessoa (Guima)</p>
        </div>
    </div>
</div>

</html>

{% endblock %}